$font-heading: {{ $.Site.Params.heading_font | default "'Old Standard TT', serif" }};
$font-body: {{ $.Site.Params.body_font | default "'Open Sans', 'Myriad Pro', sans-serif" }};
$font-mono: {{ $.Site.Params.mono_font | default "Consolas, 'Liberation Mono', Menlo, Courier, monospace" }};
$font-sans: {{ $.Site.Params.sans_font | default "'Open Sans', sans-serif" }};
$font-seruf: {{ $.Site.Params.serif_font | default "Georgia, serif" }};
$font-title: {{ $.Site.Params.title_font | default "Montserrat, 'Open Sans', sans-serif" }};

* {
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline;
    margin:0;
    padding:0;
    color: black;
    text-decoration-skip: ink;
}

body {
    font-family: $font-body;
    font-size:17px;
    line-height:160%;
    color:#1d1313;
    max-width:700px;
    margin:auto;
}

a img {
    border:none;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

.left-justify {
    float: left;
}

.right-justify {
    float:right;
}

pre, code {
    font: $font-mono;
    background-color: #f7f7f7;
}

code {
    font-size: 12px;
    padding: 4px;
}

pre {
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: normal;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
}

pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

pre code::before,
pre code::after {
    content: normal;
}

em,q,em,dfn {
    font-style:italic;
}

.sans,html .gist .gist-file .gist-meta {
    font-family: $font-body;
}

.mono,pre,code,tt,p code,li code {
    font-family: $font-mono;
}

.heading,.serif,h1,h2,h3 {
    font-family: $font-heading;
    font-weight: 500;
}

strong {
    font-weight:600;
}

q:before {
    content:"\201C";
}

q:after {
    content:"\201D";
}

del,s {
    text-decoration:line-through;
}

blockquote {
    font-family: $font-heading;
    text-align:center;
    padding:50px;
}

blockquote p {
    display:inline-block;
    font-style:italic;
}

blockquote:before,blockquote:after {
    content:'\201C';
    font-family: $font-heading;
    font-size:35px;
    color:#403c3b;
}

blockquote:after {
    content:'\201D';
}

hr {
    width:40%;
    height: 1px;
    background:#403c3b;
    margin: 25px auto;
}

h1 {
    font-size:35px;
}

h2 {
    font-size:28px;
}

h3 {
    font-size: 1.35rem;
    margin-top:18px;
}

h1 a,h2 a,h3 a {
    text-decoration:none;
}

h1,h2 {
    margin-top:28px;
}

#sub-header, time {
    color:#403c3b;
    font-size:13px;
    font-family: $font-mono;
}

#sub-header {
    margin: 0 4px;
}

#nav h1 a {
    font-size: 2.5rem;
    font-family: "Cormorant Garamond";
    font-weight: 300;
    color:#1d1313;
    line-height:120%;
}

#nav h4 {
    font-family: $font-sans;
    font-weight: 300;
}

.posts_listing a, #nav a {
    text-decoration: none;
}

li {
    margin-left: 1em;
}

ul > li {
    margin-left: 0.5em;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: "\2014  ";
}

#nav ul li:before, .posts_listing li:before {
    content:'';
    margin-right:0;
}

#content {
    text-align:left;
    width:100%;
    font-size: 1.125rem;
    word-spacing: 0.05em;
    padding:60px 0 80px;
}

#content h1, #content h2 {
    margin-bottom:5px;
}

#content .entry-content {
    margin-top:15px;
}

#content time {
    margin-left:3px;
}

#content h1 {
    font-size: 1.85rem;
}

#content h2 {
    font-size: 1.7rem;
}


#content h3,
#content h4,
#content h5,
#content h6 {
    font-family: $font-mono;
}

#content h4,
#content h5,
#content h6 {
    line-height: 1.2;
    font-weight: 400;
    color: #1c1c1c;
}

#content h3 {
    font-size: 1.3rem;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
}

#content h4 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

#content h5 {
    font-size: 1rem;
    margin-top: 0.25rem;
}

#content p {
    color: #202124;
    line-height: 1.45;
    margin-bottom: 1rem;
}

#content h3 + p {
    margin-top: 0.5rem;
}

#content ul {
    margin-bottom: 1rem;
}

.highlight {
    margin: 10px 0;
}

.posts_listing {
    margin:0 0 50px;
}

.posts_listing li {
    margin:0 0 25px 15px;
}

.posts_listing li a:hover,#nav a:hover {
    text-decoration: underline;
}

#nav {
    text-align:center;
    position:static;
    margin-top:60px;
}

#nav ul {
    display: table;
    margin: 8px auto 0 auto;
}

#nav li {
    list-style-type:none;
    display:table-cell;
    font-size:15px;
    padding: 0 20px;
}

#nav a {
    font-family: $font-sans;
}

#links {
    margin: 50px 0 0 0;
}

#links :nth-child(2) {
    float:right;
}

#not-found {
    text-align: center;
}

#not-found a {
    font-family: $font-heading;
    font-size: 200px;
    text-decoration: none;
    display: inline-block;
    padding-top: 225px;
}


/* Table CSS - borrowed from Pure.css*/
.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.pure-table + p {
    margin-top: 1rem;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-table td {
    background-color: transparent;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.pure-table-horizontal td,
.pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}

@media (max-width: 750px) {
    body {
      padding-left:20px;
      padding-right:20px;
    }

    #nav h1 a {
      font-size:28px;
    }

    #nav li {
      font-size:13px;
      padding: 0 15px;
    }

    #content {
      margin-top:0;
      padding-top:50px;
      font-size:14px;
    }

    #content h1 {
      font-size:25px;
    }

    #content h2 {
      font-size:22px;
    }

    .posts_listing li div {
      font-size:12px;
    }
  }

@media (max-width: 400px) {
    body {
      padding-left:20px;
      padding-right:20px;
    }

    #nav h1 a {
      font-size:22px;
    }

    #nav li {
      font-size:12px;
      padding: 0 10px;
    }

    #content {
      margin-top:0;
      padding-top:20px;
      font-size:12px;
    }

    #content h1 {
      font-size:20px;
    }

    #content h2 {
      font-size:18px;
    }

    .posts_listing li div{
      font-size:12px;
    }
  }

@media (prefers-color-scheme: dark) {
    *, #nav h1 a {
      color: #FDFDFD;
    }

    body {
      background: #121212;
    }

    pre, code {
      background-color: #262626;
    }

    #sub-header, time {
      color: #BABABA;
    }

    hr {
      background: #EBEBEB;
    }
  }

